<body>
  <main>
    <div class ="container">
    <div class="row">
    <%= render 'list' %>

    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
    <table class="table">
      <tbody>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
        <% @book.each do |book| %>
        <tr>
          <td><%= image_tag @user.get_profile_image(100,100) %></td>
          <td><%= book.title %></td>
          <td><%= book.body %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    </div>
    </div>

  </main>

</body>
