<body>
  <h2>Books</h2>

  <main>
    <table class="table">
      <tbody>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
        <% @book.each do |book| %>
        <tr>
          <td><%= image_tag @user.get_profile_image(100,100) %></td>
          <td><%= book.title %></td>
          <td><%= book.body %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </main>

</body>
