<body>

  <h2>Books</h2>

  <main>
    <table class="table">
      <tbody>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
        <tr>
          <td><%= image_tag @user.get_profile_image(100,100) %></td>
          <td><%= @book.title %></td>
          <td><%= @book.body %></td>
        </tr>
      </tbody>
    </table>

  </main>

</body>
